.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.logoStyle {
  width: 500px;
  margin-bottom: 23px;
}

.loaderStyle {
  width: 550px;
  margin-top: 23px;
}

@media screen and (max-width: 600px) {
  .logoStyle {
    width: 300px;
  }
  .loaderStyle {
    width: 350px;
  }
}
